

.WeatherLocation{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .button{
        width: 200px;
        padding: 12px;
        font-size: 14px;
        background: #dfe4ea;
        outline-color: #2980B9;
        border: none;
        border-radius: 6px;
        margin: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.Location{
    width: 100%;
    text-align: center;
}

.WeatherData{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background: #dfe4ea;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.WeatherTemperature{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon{
        color: #2980b9;
        margin-right: 20px;
    }

    .span-one{
        color: #34495e;
        font-size: 30px;
        font-weight: bold;
    }
}

.WeatherExtraInfo{
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #34495e;
    font-weight: bold;
    letter-spacing: 1px;
}

.colorPregress{
    color: #e67e22 !important;
}

.LocationList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*------------------------------------------------------------------------------------------------*/
.ForecastExtended{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .h2{
        width: 90%;
        color: white;
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
    }
}
/*------------------------------------------------------------------------------------------------*/
.ForecastItem{
    width: 90%;
    margin-bottom: 20px;

    .span{
        display:block;
        font-size: 18px;
        color: white;
        margin-bottom: 6px;
    }
}
/*------------------------------------------------------------------------------------------------*/

@media(max-width: 1024px){
    .LocationList{
        max-height: 210px;
        overflow: auto;
        margin-bottom: 20px;
        display: block;
    }

    .WeatherLocation{
        margin: auto;
    }
}